// Write your overrides

.layout-vertical-nav .app-logo svg {
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
}

.layout-vertical-nav-collapsed .layout-vertical-nav:not(.hovered) .app-logo svg {
  width: 28px;
  height: 28px;
}
